<div class="line"></div>


<section class="contact">
  <h1 class="title">Contact us</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    repudiandae repellendus nihil nesciunt minima unde quisquam obcaecati id
    iure beatae.
  </p>

  <div class="flex form">
    <form>
      <div class="flex email">
        <label for="email">Email Address :</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email"
        />

      </div>

      <div  class="flex message">
        <label for="message">Your Message :</label>
        <textarea
          id="message"
          formControlName="message"
          placeholder="Message"
        ></textarea>

      </div>

      <button
        type="submit"
        class="submit"
      >
        Submit
      </button>
    </form>

    <p  style="font-size: 18px; margin-top: 1.7rem;">
    </p>
  </div>
</section>
