<div class="line"></div>
<div class="discription">
  <h1>About</h1>
</div>
<section class="mainSection">
  <section class="left">

    <img src="https://ziadr14.github.io/AboZiadShop/images/color%202.png" alt="">
  </section>
  <section class="right">
    <div class="head"><h1>Abo<span>Ziad</span></h1></div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum doloribus minus harum voluptatem nemo facilis tempore distinctio numquam repellendus inventore.</p>
  </section>
</section>
